html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fdfdfd;
    overflow-x: hidden;
    height: 100%;
}

.mainTitulo {
    font-weight: 400;
    color: #242B57;
    width: calc(100% - 80px);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0 40px;
    font-size: clamp(30px, 2vw, 32px);
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    
}

.rowCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer .cardContent {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    height: clamp(200px, 2vw, 200px);
    width: clamp(250px, 2vw, 250px);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    margin: 0 40px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.3s;
    background-position: 0% 50%;
    background-size: 200%;
    flex: 1;
}

.cardContainer .cardContent:hover {
    animation: bg-pan-right 5s infinite linear;
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(1) {
    background-image: linear-gradient(to left top, #051937, #004d7a, #3A8C88);
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(1) svg {
    stroke: #004d7a;
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(2) {
    background-image: linear-gradient(to top, #3677bb, #008ac2, #009ac3, #0eaac0, #44b8ba);
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(2) svg {
    stroke: #3677bb;
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(3) {
    background-image: linear-gradient(to right top, #f39134, #ea9937, #e2a13d, #daa845, #d2ae4e);
}

.cardContainer .rowCardContainer:nth-child(1) .cardContent:nth-child(3) svg {
    stroke: #f39134;
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(1) {
    background-image: linear-gradient(to left top, #644491, #814490, #9a448b, #af4685, #c24a7c);
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(1) svg {
    stroke: #9a448b;
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(2) {
    background-image: linear-gradient(to right bottom, #6f7d91, #5a5b6a, #413c44, #252023, #000000);
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(2) svg {
    stroke: #413c44;
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(3) {
    background-image: linear-gradient(to right top, #3f6a58, #4e7c50, #6e8b3f, #9b952a, #d2981f);
}

.cardContainer .rowCardContainer:nth-child(2) .cardContent:nth-child(3) svg {
    stroke: #4e7c50;
}

.cardContainer .cardContent svg {
    width: clamp(28px, 2vw, 28px);
    height: clamp(28px, 2vw, 28px);
    padding: 6px;
    border-radius: 10px;
    background-color: #fdfdfd;
}

.cardContainer .cardContent h4 {
    font-size: clamp(18px, 2vw, 18px);
    font-weight: 600;
    margin: 0;
    color: #fdfdfd;
}

@keyframes bg-pan-right {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 465px) {
    .cardContainer .cardContent {
        margin: 0;
        box-shadow: none;
        border: 0;
        border-bottom: 3px solid #fff;
        border-radius: 0;
        height: 150px;
    }
}