main .mainSubtitle {
    width: calc(100% - 80px);
    padding: 0 40px;
    text-align: center;
    font-weight: 400;
}

main .mainTitulo{
    width: calc(100% - 80px);
    padding: 40px 40px;
    text-align: center;
    font-weight: 600;
}

.cardContainer .cardContent svg:not(.btnVerDetalles svg) {
    stroke-width: 1;
    box-shadow: inset 0 0 8px 0 #e0e0e0c4;
    width: 6rem;
}

.cardContainer .cardContent h1 {
    font-weight: 450;
    color: #5b5b5b;
}

.btnVerDetalles {
    width: fit-content;
    background-color: transparent;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: #242b570a;
    border: 1px solid #e0e0e05c;
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
}

.btnVerDetalles svg {
    stroke-width: 0.9;
    width: clamp(22px, 2vw, 22px) !important;
    height: clamp(22px, 2vw, 22px) !important;
    padding: 0 !important;
    margin-left: 6px;
    margin-bottom: 3px;
    background-color: transparent !important;
    transition: 0.3s;
}

.btnVerDetalles h1 {
    margin: 0;
    margin-top: 1px;
    font-size: clamp(17px, 2vw, 17px);
    font-weight: 100 !important;
    color: #5f5f5f !important;
    transition: 0.3s;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    padding: 0 20px;
    width: 100%;
    margin-top: 4rem;
    border-radius: 30px;
    box-sizing: border-box;
}

.cardContainer .cardContent {
    flex: 1 1 300px;
    max-width: 350px;
    min-width: 250px;
    box-shadow: 10px 20px 40px #bebebe, -10px -20px 40px #ffffff;
    border-radius: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.cardContainer .cardContent:hover .btnVerDetalles {
    background-color: #242b57e0 !important;
}

.cardContent:hover .btnVerDetalles h1 {
    color: #fdfdfd !important;
}

.cardContent:hover .btnVerDetalles svg {
    stroke: #fdfdfd;
}

.cardContainer .cardContent {
    margin: 0 25px;
    margin-bottom: 60px;
}

.tablaContainer {
    max-height: 70vh;
    overflow-y: auto;
}

@media (max-width: 465px) {
    .cardContainer {
        padding: 0;
        width: 100%;
    }

    .cardContainer .cardContent {
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border: 2px solid #ffffff;
        border-bottom: 1px solid #5b5b5b3c;
        min-width: 200px;
        height: auto;
        padding: 40px 20px;
    }

    .cardContainer .cardContent:nth-child(1) {
        border-top: 1px solid #5b5b5b3c;
    }

    .cardContainer .cardContent svg:not(.btnVerDetalles svg) {
        display: none;
    }

    .cardContainer .cardContent h1 {
        margin-top: 0;
    }
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 50rem;
    margin: 10px auto;
}
  
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}
  
.input::placeholder {
    color: #9e9ea7;
}
  
.input:focus, input:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}
  
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}